<div class="jumbotron">
    <div>
        <h4 class="headerTitle">Resultados</h4>                    
    </div>    
    <div>
        <h4 class="headerDate">{{firstGameDate}} - {{lastGameDate}}</h4>    
    </div>
    <div>
        <table class="table table-striped">
            <tr>
                <th>Descrição</th>
                <th>Resultado</th>
            </tr>
            <tr ng-repeat="result in results">
                <td ng-bind="result.description"></td>
                <td ng-bind="result.result"></td>
            </tr>
        </table>
    </div>    
</div>